<div class="mt-4 row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
        <a class="btn btn-primary" href="/professional_profile">MyProfile</a>
        <a class="btn btn-primary" href="/logout">LogOut</a>
    </div>
</div>

<div class="row">

    <h2>@ViewBag.CurrentUser.FirstName</h2>
    <p>@ViewBag.CurrentUser.Description</p>
</div>